<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <head th:insert="import :: head"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div th:insert="/manage/navigation :: nav"></div>
	<div class="container-fluid ">
		<form method="post" name="form">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 media-body">
				<button type="button" class="btn btn-primary navbar-center " onclick="question()">创建题目</button>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<button type="button" class="btn btn-primary navbar-center" onclick="paper()" >创建试卷</button>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<button type="button" class="btn btn-primary navbar-center" onclick="publish()"  >发布考试</button>
			</div>
		</form>
	</div>
</body>
</html>

<script>
    function question(){
//        document.("表单的name值").action
//        document.("表单的name值").submit
        document.form.action="createquestion";
        document.form.submit();
    }
    function paper() {
        document.form.action = "papercreate";
        document.form.submit();
    }
    function publish() {
        document.form.action = "publish";
        document.form.submit();
    }
</script>