<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <head th:insert="import :: head"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div>
		<h1 class="media-body col-sm-offset-4 col-sm-2"> 添加题目</h1>
	</div>
	<input type="hidden" class="form-control" id="paperid" name="paperid" th:value="${id}">
	<div>
		<div class="media col-sm-offset-1 col-sm-7" th:each="question : ${pagination.data}">
	    	<div class="media-left">
		        <a href="#" th:text="${question.id}"   id="questionIdhref">
		        </a>
	        </div>
	 		<div class="media-body">
				<h4 class="media-heading">
	    			<a th:href="@{'/manage/modifyquestion/'+${question.id}}" th:text="${question.head}"></a>
	   			</h4>
	        </div>
	        <div class="media-right col-sm-offset-6">
	        	<button class="btn btn-default"  role="button" th:onclick="paperAddQuestion([[${id}]],[[${question.id}]])">添加</button>
	        </div>
	     </div>
	     <br>
	     <nav aria-label="Page navigation" class="media col-sm-offset-3 col-sm-4" >
	     	<ul class="pagination">
	   			<li th:if="${pagination.showFirstPage}">
					<a th:href="@{'/manage/modifypaper/paperQuestionAdd/'+${id}(page=1)}" aria-label="Previous">
						<span aria-hidden="true">&lt;&lt;</span>
					</a>
				</li>
				<li th:if="${pagination.showPrevious}">
					<a th:href="@{'/manage/modifypaper/paperQuestionAdd/'+${id}(page=${pagination.page - 1})}"
	                           aria-label="Previous">
						<span aria-hidden="true">&lt;</span>
					</a>
	           	</li>
	         	<li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'active' : ''">
	          		<a th:href="@{'/manage/modifypaper/paperQuestionAdd/'+${id}(page=${page})}" th:text="${page}"></a>
	          	</li>
	            <li th:if="${pagination.showNext}">
	        		<a th:href="@{'/manage/modifypaper/paperQuestionAdd/'+${id}(page=${pagination.page +1 })}"
	                	aria-label="Previous">
	           			<span aria-hidden="true">&gt;</span>
	       			</a>
	      		</li>
	       		<li th:if="${pagination.showEndPage}">
	                 <a th:href="@{'/manage/modifypaper/paperQuestionAdd/'+${id}(page=${pagination.totalPage})}"
	                    aria-label="Previous">
	                 	<span aria-hidden="true">&gt;&gt;</span>
	               	</a>
	     		</li>
			</ul>
		</nav>	
	</div>
</body>
</html>