<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <head th:insert="import :: head"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div th:insert="/manage/navigation :: nav"></div>
	<div class = "col-sm-offset-2 col-sm-5">
		<div class="media" th:each="paper : ${pagination.data}">
	    	<div class="media-left">
		        <a href="#" th:text="${paper.id}">
		        </a>
	        </div>
	 		<div class="media-body">
				<h4 class="media-heading">
	    			<a th:href="@{'/manage/modifypaper/'+${paper.id}}" th:text="${paper.name}"></a>
	   			</h4>
	        </div>
	     </div>
	     <nav aria-label="Page navigation">
	     	<ul class="pagination">
	   			<li th:if="${pagination.showFirstPage}">
					<a th:href="@{/manage/papers(page=1)}" aria-label="Previous">
						<span aria-hidden="true">&lt;&lt;</span>
					</a>
				</li>
				<li th:if="${pagination.showPrevious}">
					<a th:href="@{/manage/papers(page=${pagination.page - 1})}"
	                           aria-label="Previous">
						<span aria-hidden="true">&lt;</span>
					</a>
	           	</li>
	         	<li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'active' : ''">
	          		<a th:href="@{/manage/papers(page=${page})}" th:text="${page}"></a>
	          	</li>
	            <li th:if="${pagination.showNext}">
	        		<a th:href="@{/manage/papers(page=${pagination.page +1 })}"
	                	aria-label="Previous">
	           			<span aria-hidden="true">&gt;</span>
	       			</a>
	      		</li>
	       		<li th:if="${pagination.showEndPage}">
	                 <a th:href="@{/manage/papers(page=${pagination.totalPage})}"
	                    aria-label="Previous">
	                 	<span aria-hidden="true">&gt;&gt;</span>
	               	</a>
	     		</li>
			</ul>
		</nav>
	</div>
</body>
</html>