<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <head th:insert="import :: head"></head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div th:insert="/user/navigation :: nav"></div>
	<div class="media col-sm-offset-3 col-sm-6">
		<dl class="dl-horizontal">
		  <dt>考试名称：</dt>
		  <dd th:text="${testInfo.name}"></dd>
		  <dt>开始时间：</dt>
		  <dd th:text="${#dates.format(testInfo.startTime,'yyyy-MM-dd HH:mm')}"></dd>
		  <dt>结束时间：</dt>
		  <dd th:text="${#dates.format(testInfo.endTime,'yyyy-MM-dd HH:mm')}"></dd>
		  <dt>考试时长：</dt>
		  <dd th:text="${#dates.format(testInfo.duration,'HH:mm:ss')}"></dd>
		  <dt>试卷名称：</dt>
  		  <dd th:text="${testInfo.paperName}"></dd>
  		  <dt>题目总数：</dt>
  		  <dd th:text="${testInfo.questionNum}">...</dd>
		</dl>
		</div>
		<div class="col-sm-12" align="center">
			<button class="btn btn-default " th:onclick = "signOut([[${testInfo.id}]])">取消报名
	       	</button>
		</div>
</body>
</html>