@charset "UTF-8";
.main {
    background-color: white;
    margin: 30px;
}

.user_answer{
	background-color: #3c763d;
	border-color: rgba(82,168,236,.8);
	border-width: 3px;
}

.checkbox_true{
	background-color: #0000a0;
}

.message{
	color: #fff;
	background-color: #39b3d7;
	border-color: #269abc;
}