<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<head th:insert="import :: head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<form class="form-horizontal" method="post" name="createform">
	  	<div class="form-group">
		    <label for="inputStudentName" class="col-sm-2 control-label">姓名：</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" id="inputStudentName" name="name" th:value="${name}" placeholder="姓名">
		    </div>
	  	</div>
	  	
	  	<div class="form-group">
		    <label for="inputStudentNum" class="col-sm-2 control-label">学号：</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" id="inputhead" name="studentNum" th:value="${studentNum}" placeholder="学号">
		    </div>
		</div>
	  	<div class="form-group">
		    <label for="inputPassword1" class="col-sm-2 control-label">密码：</label>
		    <div class="col-sm-5">
		      <input type="password" class="form-control" id="inputPassword1" name="password1" th:value="${password1}" placeholder="密码">
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label for="inputPassword2" class="col-sm-2 control-label">密码：</label>
		    <div class="col-sm-5">
		      <input type="password" class="form-control" id="inputPassword2" name="password2" th:value="${password2}" placeholder="确认密码">
		    </div>
	  	</div>
      	<div class="alert alert-danger col-sm-offset-1 col-sm-6" th:text="${error}" th:if="${error != null}"></div>
      	<div class="control-group">
      		<div class="col-sm-offset-2 col-sm-10">
	        	<span class="col-sm-offset-1">
	        		<button type="submit" class="btn" onclick="submitUser()">提交</button>
	        	</span>
	          	<span class="col-sm-offset-1">
	        		<button type="submit" class="btn" onclick="returnHome()">返回</button>
	        	</span>
	        </div>
      	</div>
    </form>
</body>
</html>
<script>
    function submitUser(){
//        document.("表单的name值").action
//        document.("表单的name值").submit
        document.createform.action="submit";
        document.form.submit();
    }
    function returnHome() {
        document.createform.action = "returnHome";
        document.form.submit();
    }
</script>